@charset "utf-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code, del, 
dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td, hr{margin:0;padding:0;font-size:100%;box-sizing: border-box;}
body{height:100%;min-height:100%;font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#737373;line-height:1.5;background:url(./images/content_bg4.png) repeat;}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:top;}
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;box-sizing: border-box;}
input, textarea, select, button {font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle; border:none;}
input, textarea {margin:0;padding:0;  background:none; box-sizing:border-box;}
textarea {resize:none}
a {color:#919090;text-decoration:none}
a:link, a:visited {text-decoration:none}
a:hover {text-decoration:none}
.blind{display: none;overflow: hidden;position: absolute;width: 0;height: 0;padding: 0;margin: 0; font-size: 0;line-height: 0; text-indent: -9999em;visibility: hidden;outline: none;z-index: -1;}
html,body{overflow:hidden;height:100%;}

#wrap {
    width: 100%;
    height: 100%;
    padding-right: 180px;
}
header .logo_box {
    position: absolute;
    right: 13px;
    top: 75px;
    cursor: pointer;
    transition: 0.5s;
}
header .logo_box img {
    width: 150px;
}
#wrap header {
    background: url(./images/menu_bg1.png) repeat-y; z-index: 11;
    width: 180px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}
#wrap header nav {
    width: 100%;
    height: 100%;
}
#wrap header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#wrap header nav ul li {
    margin-left: 50px;
    position: relative;
}
#wrap header nav ul li a {
    transition: 0.5s;
}
#wrap header nav ul li:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    top: 18px;
    left: -13px;
    transition: 0.5s;
}
#wrap header nav ul li a {
    line-height: 40px;
    color: #fff;
}
#wrap header nav ul li:hover a,
#wrap header nav ul li.on a {
    color:#ed3140;
}
#wrap header nav ul li:hover:after,
#wrap header nav ul li.on:after {
    background:#ed3140;
}
footer {
    width: 180px;
    padding: 0 20px 30px 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 11px;
    color: #7e7e7e;
    z-index: 12;
    text-align: center;
}
footer address {
    padding-bottom: 15px;
}
footer .fab {
    font-size: 20px;
    padding-top: 10px;
    margin: 5px;
    transition: 0.5s;
}
footer a:hover .fab {
    transform: rotateY(360deg);
}
footer a:nth-of-type(1):hover .fab {
    color: white;
}
footer a:nth-of-type(2):hover .fab {
    color: #e4405f;
}
footer a:nth-of-type(3):hover .fab {
    color: #3b5999;
}
#container {
    width: 100%;
    height: 100%;
    position: relative;
    /* max-width: 1200px; */
    margin: 0 auto;
    z-index: 4;
}
#container .content {
    width: 25%;
    height: 100%;
    position: absolute;
    transition: 0.8s;
}
#container .content.this {
    width: 100%;
    left: 0 !important;
}
#container .content.prev {
    width: 100%;
    left: -100% !important;
}
#container .content.next {
    width: 100%;
    left: 100% !important;
}
#container .content.this:before,
#container .content.this:after,
#container .content.this .conbox:before {
    opacity: 0;
}
#container #menu1 {
    left: 0%;
    background: url(./images/content_bg1.png) repeat;
}
#container #menu2 {
    left: 25%;
    background: url(./images/content_bg2.png) repeat;
}
#container #menu3 {
    left: 50%;
    background: url(./images/content_bg3.png) repeat;
}
#container #menu4 {
    left: 75%;
    background: url(./images/content_bg4.png) repeat;
}
#container .content:before,
#container .content:after {
    content: "";
    display: block;
    position: absolute;
}
#conatiner .content:before {
    width: 1px;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    z-index: 4;
}
#container .content:after {
    left: 30px;
    top: 180px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.76);
}
#container #menu1:after {
    content: "ABOUT";
}
#container #menu2:after {
    content: "SKILL";
}
#container #menu3:after {
    content: "PROJECT";
}
#container #menu4:after {
    content: "WISH";
}
#container .content .conbox:before {
    content: "";
    display: block;
    position: absolute;
}
#container #menu1 .conbox:before {
    background: url(./images/businessman.png) no-repeat;
    width: 200px;
    height: 200px;
    right: -10px;
    top: 130px;
    background-size: 100%;
}
#container #menu2 .conbox:before {
    background: url(./images/stack.png) no-repeat;
    width: 300px;
    height: 200px;
    right: -10px;
    top: 300px;
    background-size: 100%;
}
#container #menu3 .conbox:before {
    background: url(./images/project.png) no-repeat;
    width: 200px;
    height: 200px;
    right: -10px;
    top: 50px;
    background-size: 100%;
}
#container #menu4 .conbox:before {
    background: url(./images/wish.png) no-repeat;
    width: 200px;
    height: 200px;
    right: -10px;
    top: 150px;
    background-size: 100%;
}
#container .content h2 {
    opacity: 0;
}
#container .content.this h2 {
    height: auto;
    padding: 30px 0 20px 50px;
    color: #000;
    position: relative;
    background-color: #fff;
    font-size: 28px;
    font-weight: 400;
    opacity: 1;
    transition: 0.6s;
    transition-delay: 1.2s;
}
#container .content.this h2:after {
    content: "";
    width: 100%;
    height: 8px;
    background-color: #ed3140;
    position: absolute;
    left: 0;
    bottom: 0;
}
#container .content .conbox .content_wrap {
    opacity: 0;
}
#container .content.this .conbox .content_wrap {
    padding: 30px 50px 50px 50px;
    opacity: 1;
}