@charset "utf-8";
@import url(https://cdn.rawgit.com/theeluwin/NotoSansKR-Hestia/master/stylesheets/NotoSansKR-Hestia.css);
@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&family=Cinzel&family=Lobster&family=Nanum+Myeongjo&display=swap');
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, button, abbr, acronym, address, code, del, 
dfn, em, img, strong, sub, sup, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, 
td, hr{margin:0;padding:0;font-size:100%;box-sizing: border-box;}
body{height:100%;min-height:100%;font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#737373;line-height:1.5;background:url(./images/content_bg4.png) repeat;}
h1, h2, h3, h4, h5, h6 {font-weight:normal}
ol, ul, li {list-style:none}
table {width:100%; border-collapse:collapse;border-spacing:0}
form, fieldset, iframe {display:block;border:0}
img, button {border:0 none;vertical-align:top;}
hr {height:0; display:none}
i, em, address{font-style:normal}
label, button{cursor:pointer}
blockquote, q {quotes:none}
caption, legend {overflow:hidden;visibility:hidden;position:absolute;width:0;height:0;padding:0;margin:0;font-size:0;text-indent:-100%;white-space:nowrap;z-index:-1}
header, footer, section, article, aside, nav, hgroup, details, menu, figure, figcaption {display:block;box-sizing: border-box;}
input, textarea, select, button {font-family:'Noto Sans Korean','Malgun Gothic','맑은고딕','돋움',dotum, sans-serif;font-size:16px;color:#919090;line-height:1.5;letter-spacing:0;vertical-align:middle; border:none;}
input, textarea {margin:0;padding:0;  background:none; box-sizing:border-box;}
textarea {resize:none}
a {color:#919090;text-decoration:none}
a:link, a:visited {text-decoration:none}
a:hover {text-decoration:none}
.blind{display: none;overflow: hidden;position: absolute;width: 0;height: 0;padding: 0;margin: 0; font-size: 0;line-height: 0; text-indent: -9999em;visibility: hidden;outline: none;z-index: -1;}
html,body{overflow:hidden;height:100%;}

#wrap {
    width: 100%;
    height: 100%;
    padding-right: 180px;
}
header .logo_box {
    position: absolute;
    right: 13px;
    top: 75px;
    cursor: pointer;
    transition: 0.5s;
}
header .logo_box img {
    width: 150px;
}
#wrap header {
    background: url(./images/menu_bg1.png) repeat-y; z-index: 11;
    width: 180px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
}
#wrap header div {
    color: rgba(255, 255, 255, 0.815);
    font-size: 10px;
    position: absolute;
    left: 42px;
    top: 110px;
    cursor: pointer;
}
#wrap header nav {
    width: 100%;
    height: 100%;
}
#wrap header nav ul {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#wrap header nav ul li {
    margin-left: 50px;
    position: relative;
}
#wrap header nav ul li a {
    transition: 0.5s;
}
#wrap header nav ul li:after {
    content: "";
    width: 8px;
    height: 8px;
    position: absolute;
    display: block;
    border-radius: 50%;
    background-color: #fff;
    top: 18px;
    left: -13px;
    transition: 0.5s;
}
#wrap header nav ul li a {
    line-height: 40px;
    color: #fff;
}
#wrap header nav ul li:hover a,
#wrap header nav ul li.on a {
    color:#ed3140;
}
#wrap header nav ul li:hover:after,
#wrap header nav ul li.on:after {
    background:#ed3140;
}
footer {
    width: 180px;
    padding: 0 20px 30px 20px;
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 11px;
    color: #7e7e7e;
    z-index: 12;
    text-align: center;
}
footer address {
    padding-bottom: 15px;
}
footer .fab {
    font-size: 20px;
    padding-top: 10px;
    margin: 5px;
    transition: 0.5s;
}
footer .notion {
    width: 25px;
    height: 25px;
    margin-top: 12px;
    margin-left: 2px;
    transition: 0.5s;
}
footer a:hover .fab {
    transform: rotateY(360deg);
}
footer a:hover .notion {
    transform: rotateY(360deg);
}
footer a:nth-of-type(1):hover .fab {
    color: white;
}
footer a:nth-of-type(2):hover .fab {
    color: #e4405f;
}
footer a:nth-of-type(3):hover .fab {
    color: #3b5999;
}
#container {
    width: 100%;
    height: 100%;
    position: relative;
    /* max-width: 1200px; */
    margin: 0 auto;
    z-index: 4;
}
#container .content {
    width: 25%;
    height: 100%;
    position: absolute;
    transition: 0.8s;
}
.pargrph_tit {
    margin-bottom: 50px;
    font-size: 24px;
    color: #fff;
    position: relative;
    font-family: 'Alegreya', serif;
}
.pargrph_tit:after {
    content: "";
    display: block;
    width: 30px;
    height: 8px;
    background: #ed3140;
    position: absolute;
    left: 0;
    bottom: -13px;
}
#myface {
    position: relative;
    width: 100px;
    height: 120px;
    margin-bottom: 15px;
}
.text_box {
    font-family: 'Nanum Myeongjo', serif;
    color: #d6d4d4;
    opacity: 0;
    position: relative;
}
#menu1 .text_box:nth-of-type(2) p {
    text-align: justify;
    padding-right: 80px;
}
#menu1 .text_box:nth-of-type(3) p {
    position: absolute;
    width: 100%;
    padding-right: 260px;
    padding-bottom: 100px;
    text-align: justify;
}

#menu1 .text_box:nth-of-type(3):before {
    content: "";
    display: block;
    width: 200px;
    height: 250px;
    position: absolute;
    right: 30px;
    top: -10px;
    background: url(./images/using_computer.jpg.png) no-repeat right top;
    background-size: 200px;
}
#menu1 .text_box:nth-of-type(4) p {
    position: absolute;
    width: 100%;
    padding-right: 260px;
    padding-bottom: 100px;
    text-align: justify;
}

#menu1 .text_box:nth-of-type(4):before {
    content: "";
    display: block;
    width: 250px;
    height: 300px;
    position: absolute;
    right: 0;
    top: -10px;
    background: url(./images/collaboration.png) no-repeat right top;
    background-size: 250px;
}

.content.this .text_box {
    opacity: 1;
}
.content .text_box h4 {
    font-size: 40px;
    color: #d6d4d4;
    font-weight: 700;
    margin-bottom: 20px;
}
#menu1 .text_box:nth-of-type(1) p:nth-of-type(1) {
    margin-bottom: 20px;
}
#menu1 .text_box:nth-of-type(1) p:nth-of-type(2) {
    margin-bottom: 70px;
}
#menu1 .text_box:nth-of-type(2) p {
    margin-bottom: 20px;
}
#menu1 .text_box:nth-of-type(4) {
    margin-top: 180px;
}
.photo {
    margin-bottom: 70px;
}
.photo img {
    width: 220px;
    height: 280px;
    margin: 0 10px 0 0;
}
.skill-progress {
    width: 500px;
    padding: 20px;
    background-color: #333;
    color: white;
    border-radius: 7px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.08);
    position: relative;
    margin-bottom: 30px;
}
.skill-progress h1 {
    text-align: center;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: normal;
}
.skill-progress .item {
    margin-bottom: 20px;
}
.skill-progress .item p {
    overflow: hidden;
}
.item p span:nth-child(1) {
    float: left;
}
.item p span:nth-child(2) {
    float: right;
}
.progress {
    border: 1px solid #6cd4c4;
    padding: 5px;
    border-radius: 3px;
}
.content.this .progress-level {
    height: 10px;
    background: linear-gradient(to right, crimson, gold);
    animation: ani 1s;
    
    animation-fill-mode: both;
}
@keyframes ani {
    0% {
        width: 0;
    }
}
.skill-progress .item:nth-of-type(1) .progress-level {
    animation-delay: 0s;
}
.skill-progress .item:nth-of-type(2) .progress-level {
    animation-delay: 0.2s;
}
.skill-progress .item:nth-of-type(3) .progress-level {
    animation-delay: 0.4s;
}
.skill-progress .item:nth-of-type(4) .progress-level {
    animation-delay: 0.6s;
}
.skill-progress .item:nth-of-type(5) .progress-level {
    animation-delay: 0.8
}
#menu2 .text_box .inner_content p {
    position: relative;
    padding-right: 260px;
    text-align: justify;
}
#menu2 .text_box .inner_content p:nth-of-type(1):before {
    content: "";
    display: block;
    width: 200px;
    height: 250px;
    position: absolute;
    right: 100px;
    top: -15px;
    background: url(./images/htmlcss.png) no-repeat right top;
    background-size: 150px;
}
#menu2 .text_box .inner_content p:nth-of-type(2):before {
    content: "";
    display: block;
    width: 200px;
    height: 250px;
    position: absolute;
    right: 130px;
    top: 15px;
    background: url(./images/javascript.png) no-repeat right top;
    background-size: 90px;
}
#menu2 .text_box .inner_content p:nth-of-type(3):before {
    content: "";
    display: block;
    width: 200px;
    height: 250px;
    position: absolute;
    right: 130px;
    top: 25px;
    background: url(./images/nodejs.png) no-repeat right top;
    background-size: 80px;
}
#menu2 .text_box .inner_content p:nth-of-type(4):before {
    content: "";
    display: block;
    width: 200px;
    height: 250px;
    position: absolute;
    right: 125px;
    top: 25px;
    background: url(./images/php.png) no-repeat right top;
    background-size: 90px;
}
#menu2 .text_box .inner_content p:nth-of-type(5):before {
    content: "";
    display: block;
    width: 200px;
    height: 250px;
    position: absolute;
    right: 120px;
    top: 15px;
    background: url(./images/java.png) no-repeat right top;
    background-size: 100px;
}
#menu2 .inner_content p span {
    color: #ed3140;
    font-weight: bold;
}
#menu2 .inner_content p {
    margin-left: 23px;
    margin-bottom: 40px;
}
#menu2 .inner_content p:last-child {
    margin-bottom: 70px;
}
.first_prg {
    margin-bottom: 20px;
}
.first_prg img {
    width: 300px;
    height: 500px;
    margin: 0 10px 0 0;
}
.second_prg {
    margin-bottom: 20px;
}
.second_prg img {
    width: 620px;
    height: 350px;
}
.third_prg {
    margin-bottom: 20px;
}
.third_prg img {
    width: 620px;
    height: 350px;
}
.fourth_prg {
    margin-bottom: 20px;
}
.fourth_prg img {
    width: 620px;
    height: 350px;
}
#menu3 .text_box p {
    font-size: 20px;
    padding-right: 50px;
    padding-top: 15px;
    margin-bottom: 70px;
    line-height: 2.0em;
}
#menu3 .text_box p a {
    text-decoration: underline;
    color: #d6d4d4;
}
#menu3 .text_box a img {
    width: 40px;
    height: 40px;
}
#menu3 .text_box h5 {
    font-size: 30px;
    margin-bottom: 40px;
}
#container .content.this {
    width: 100%;
    left: 0 !important;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
#container .content.prev {
    width: 100%;
    left: -100% !important;
}
#container .content.next {
    width: 100%;
    left: 100% !important;
}
#container .content.this .conbox {
    max-width: 1100px;
    margin: 0 auto;
}
#container .content.this:before,
#container .content.this:after,
#container .content.this .conbox:before {
    opacity: 0;
}
#container #menu1 {
    left: 0%;
    background: url(./images/content_bg1.png) repeat;
}
#container #menu2 {
    left: 25%;
    background: url(./images/content_bg2.png) repeat;
}
#container #menu3 {
    left: 50%;
    background: url(./images/content_bg3.png) repeat;
}
#container #menu4 {
    left: 75%;
    background: url(./images/content_bg4.png) repeat;
}
#container .content:before,
#container .content:after {
    content: "";
    display: block;
    position: absolute;
}
#conatiner .content:before {
    width: 1px;
    height: 100%;
    background-color: #000;
    left: 0;
    top: 0;
    z-index: 4;
}
#container .content:after {
    left: 30px;
    top: 180px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.76);
}
#container #menu1:after {
    content: "ABOUT";
}
#container #menu2:after {
    content: "SKILL";
}
#container #menu3:after {
    content: "PROJECT";
}
#container #menu4:after {
    content: "WISH";
}
#container .content .conbox:before {
    content: "";
    display: block;
    position: absolute;
}
#container #menu1 .conbox:before {
    background: url(./images/businessman.png) no-repeat;
    width: 200px;
    height: 200px;
    right: -10px;
    top: 130px;
    background-size: 100%;
}
#container #menu2 .conbox:before {
    background: url(./images/stack.png) no-repeat;
    width: 300px;
    height: 200px;
    right: -10px;
    top: 300px;
    background-size: 100%;
}
#container #menu3 .conbox:before {
    background: url(./images/project.png) no-repeat;
    width: 200px;
    height: 200px;
    right: -10px;
    top: 50px;
    background-size: 100%;
}
#container #menu3 p {
    text-align: justify;
}
#container #menu4 p {
    text-align: justify;
}
#container #menu4 .items {
    text-align: center;
}
#container #menu4 .item {
    display: inline-block;
    width: 450px;
    height: 280px;
    position: relative;
    margin-bottom: 60px;
}
#container #menu4 .item:nth-of-type(1) {
    margin-right: 40px;
}

#container #menu4 .caption {
    width: 470px;
    height: 290px;
    background-color: rgba(0, 0, 0, 0.596);
    position: absolute;
    top: 0;
    left: 0;
    color:#fff;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 40px;
    opacity: 0;
    transition: 0.5s;
}
#container #menu4 .item:hover .caption {
    opacity: 1;
}
#container #menu4 .item .caption span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
#container #menu4 .item img {
    width: 470px;
    height: 290px;
}
#container #menu4 .item:nth-of-type(2) img {
    right: 0;
}
#container #menu4 .conbox:before {
    background: url(./images/wish.png) no-repeat;
    width: 200px;
    height: 200px;
    right: -10px;
    top: 150px;
    background-size: 100%;
}
#container #menu4 .text_box {
    width: 100%;
}
#container #menu4 .text_box h4 {
    margin-bottom: 70px;
}
#container #menu4 .text_box p {
    font-size: 17px;
    line-height: 2.0em;
    padding-left: 24px;
    padding-right: 5px;
}
#container #menu4 .text_box h4:nth-of-type(2) {
    text-align: right;
}
#container .content h2 {
    opacity: 0;
}
#container .content.this h2 {
    height: auto;
    padding: 20px 0 20px 50px;
    color: #000;
    position: relative;
    background-color: #fff;
    font-size: 28px;
    opacity: 1;
    transition: 0.6s;
    transition-delay: 1.2s;
    font-family: 'Alegreya', serif;
}
#container .content.this h2:after {
    content: "";
    width: 100%;
    height: 8px;
    background-color: #ed3140;
    position: absolute;
    left: 0;
    bottom: 0;
}
#container .content .conbox .content_wrap {
    opacity: 0;
}
#container .content.this .conbox .content_wrap {
    padding: 30px 50px 50px 50px;
    opacity: 1;
}